<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="row">
  <div class="col-md-10">
    <h1>Welcome to {{ title }}!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md5">
    <h3>Categories</h3>
    <ngx-datatable class="material striped"
                   [rowHeight]="50"
                   [rows]="catItems"
                   [columns]="catColumns">
    </ngx-datatable>
  </div>


  <div class="col-md-5 col-md-push-2">
    <h3>Products</h3>
    <ngx-datatable class="material striped"
                   [rowHeight]="50"
                   [rows]="prodItems"
                   [columns]="prodColumns">
    </ngx-datatable>
  </div>
</div>
