<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.milovtim.mapper.ProductMapper">

  <cache />

  <select id="getProduct" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId
    FROM PRODUCT
    WHERE PRODUCTID = #{productId}
  </select>

  <select id="getProductListByCategory" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId
    FROM PRODUCT
    WHERE CATEGORY = #{categoryId}
  </select>

  <select id="searchProductList" resultType="Product">
    select
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId
    from PRODUCT
    WHERE lower(name) like #{value}
  </select>


  <insert id="createProduct" parameterType="Product">
    <selectKey keyProperty="productId" keyColumn="productId" order="AFTER" resultType="java.lang.Integer">
      SELECT currval('productIdSeq');
    </selectKey>
    INSERT INTO product(productid, category, name, descn)
    VALUES (nextval('productidseq'), #{categoryId}, #{name}, #{description})
  </insert>

  <update id="editProductNameAndDescription">
    UPDATE product
    SET "name" = #{name}, "descn" = #{description}
    WHERE productid = #{productId}
  </update>
</mapper>